h1 {
    color: rgb(255, 0, 0);
    font-family: verdana;
    font-size: 300%;
  }
  p {
    color: rgb(0, 0, 0);
    font-family: courier;
    font-size: 160%;
  }
button {
    color:rgb(110, 255, 255)
}