h1 {
    color: rgb(255, 0, 0);
    font-family: verdana;
    font-size: 300%;
}
p {
    color: rgb(0, 0, 0);
    font-family: courier;
    font-size: 160%;
}
button {
    color:rgb(110, 255, 255)
}
.container {
    display: grid;
    grid-template-areas:
      "header header"
      "menu content"
      "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 5px;
    background-color: #ffffff;
    padding: 5px;
}
  .container > div {
    background-color: rgb(0, 20, 133);
    padding: 10px;
}
  .container > div.header {
    grid-area: header;
    text-align: center;
}
  .container > div.menu {
    grid-area: menu;
}
  .container > div.content {
    grid-area: content;
}
  .container > div.footer {
    grid-area: footer;
}
